.End {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.End .Grid {
    flex: 3;
}

.End .Sidebar {
    height: 100%;
    padding: 1em;
}

.End .Header {
    margin-top: 0;
}

.End .Header h1 {
    font-size: 3em;
}
.End h2 {
    margin: 2em 0em 0.5em;
}

@media (max-width: 800px) {
    .End {
        flex-direction: column-reverse;
    }
}
