.Introduction {
    display: flex;
    height: 100%;
}

.Introduction h2 {
    margin-bottom: 1em;
}

.Introduction .Sidebar {
    padding: 2em 1em;
}

.Introduction .Faces {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    flex: 2;
}

.Introduction .Face {
    width: 200px;
    height: 222px;
}

.Introduction .registration {
    text-align: center;
    margin-bottom: 1em;
}

.Introduction .welcome {
    text-align: center;
}

.Introduction .welcome .firstName {
    background-color: #EFADAF;
    padding: 0.2em;
}

@media (max-width: 800px) {
    .Introduction {
        flex-direction: column;
    }
    .Introduction .Faces {
        flex: none;
        margin-top: 1em;
    }
}

