.Face {
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 140px;
    filter: grayscale();
}

@media (max-width: 400px) {
    .Face {
        width: 84px;
        height: 98px;
    }
}

.Face.disabled {
    cursor: not-allowed;
}

.Face.correct {
    filter: url(#correct);
}

.Face.wrong {
    filter: url(#wrong);
}
