.Grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    margin: 1em;
}

@media(max-width: 767px) {
    .Grid {
        margin: 0em;
    }
}

.Row {
    display: flex;
    width: 100%;
}

.Favorite {
    position: absolute;
    bottom: 0;
    right: 4px;
    font-size: 2em;
    text-shadow: #000 1px 1px 10px;
}
