.Grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.Row {
    display: flex;
    width: 100%;
}

.Favorite {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2em;
}
