.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.Header .subtle {
    color: #888;
}

.Header .arrow a {
    text-decoration: none;
}

.Header h2 {
}
