.Label {
    padding: 0 1em 1em 1em;
}

.Label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Label .Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.Label .Header h2 {
    margin-bottom: 0;
}

.arrow a {
    text-decoration: none;
}
